h1 {
  font-size: 30px;
  font-weight: initial; }

p {
  font-size: 18px; }

html, button, input, select, textarea, .pure-g [class*="pure-u"] {
  font-family: "Raleway", serif; }

body {
  height: 100%;
  background: white;
  margin: 0;
  margin-bottom: 20px; }

img {
  max-width: 100%; }

a {
  text-decoration: none; }

.row {
  margin: 20px;
  margin-bottom: 0;
  display: block; }
  .row .header-box, .row .content-box, .row .inverted-header-box, .row .inverted-content-box {
    box-sizing: border-box;
    padding: 20px; }
  .row .header-box, .row .inverted-content-box {
    background-color: #289bc6;
    color: white;
    text-align: right; }
  .row .content-box, .row .inverted-header-box {
    border: 1px solid #289bc6;
    background-color: white; }

.no-border {
  border: 0 !important; }

.margin-left-auto {
  margin-left: auto; }

.center-horizontally {
  text-align: center !important; }

.center-vertically {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

footer {
  font-size: 14px; }
  footer .inverted-content-box a {
    color: white;
    text-decoration: underline; }
  footer .inverted-content-box p {
    font-size: 14px; }

@media screen and (min-width: 48em) {
  body {
    margin-bottom: 50px; }
  .row {
    margin: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .row .header-box, .row .inverted-content-box {
      padding: 50px; }
    .row .content-box, .row .inverted-header-box {
      border-left: 0;
      padding: 50px; } }

h1 {
  font-size: 30px;
  font-weight: initial; }

p {
  font-size: 18px; }
