---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-bold: "Raleway Bold", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-medium: "Raleway Medium", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-light: "Raleway Light", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
$big-font-size: 22px;
$font-size: 18px;
$sm-font-size: 15px;
$small-font-size: 12px;

//Colours
$dark-color: black;
$dark-color-contrast: white;

$medium-color: #005892;
$medium-color-contrast: white;

$light-color: white;
$light-color-contrast: black;

// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}
////
////  GENERAL
////

body {
    min-width: 320px;
    max-width: 750px;
    margin: 10px auto;

    border: 2px solid $dark-color;
    background-image: url("/assets/circuit-board-bg.jpg");

    font-family: $font-family;
    font-size: $font-size;
}

a {
    text-decoration: none;
}

img {
  max-width: 100%;
}

h2 {
  font-family: $font-family-bold;
  font-size: $big-font-size;
}

.page-wrapper {
    width: 100%;
    background-color: $light-color;
    color: $light-color-contrast;
}

.page-content {
    margin: 25px 0;
}

.wrapper {
    padding: 0 50px;
}

////
//// HEADER & NAVIGATION
////

.site-header {
    background-color: $dark-color;
    color: $dark-color-contrast;

    font-family: $font-family;
    font-size: $font-size;
    line-height: 50px;
}

.site-header * .header-link{
    // margin between links in header
    margin: 0 10px;
    font-family: $font-family-medium;
}

.site-header * {
    color: white;
}

.site-title {
  font-family: $font-family-medium;
}

////
//// FOOTER
////

.copyright-text {
  font-family: $font-family-medium;
  font-size: $small-font-size;
}

.back-to-top {
  font-family: $font-family-medium;
  font-size: $font-size;
}

////
//// TOOLS
////

// center children vertically
.vertical-center-elements {
    display: flex;
    align-items: center;
}

// use half the container space
.half {
    width: 50%;
}

// float right
.float-right {
  float: right;
}

// float left
.float-left {
  float: left;
}

// clear floating
.clear-float{
    clear:both;
}

// center text
.center-text {
    text-align: center;
}

// align text to the right
.right-text {
    text-align: right;
}

// adding class justify-container to a container, and adding
// a span with class stretch to last child of cotainer
// will justify container's contents

.justify-container {
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}

.justify-container * {
    display: inline-block;
    zoom: 1;

    vertical-align: middle;
}

.stretch {
    display: inline-block;

    width: 100%;

    font-size: 0;
    line-height: 0
}

////
//// Home specific
////

.about-me {
  font-family: $font-family-light;
  font-size: $big-font-size;
}

.social-container {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: space-around;
}

////
//// GitHub specific
////

.github-case {
  min-width: 220px;
  max-width: 300px;
  height:250px;
  margin: 25px 0;
}

.github-case a{
  color: #005892;
}

.github-project-name {
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
  border-bottom: 4px solid #005892;
  vertical-align: middle;
  font-family: $font-family-medium;
}

.github-project-description {
  padding: 0 10px;
  padding-top: 25px;
  font-family: $font-family-light;
}

.github-case:hover {
  background-color: #005892;
}

.github-case:hover a {
  background-color: #005892;
  color: white;
}

.github-case:hover a .github-project-name {
  border-bottom: 4px solid white;
}

////
//// CV specific
////

.pdf-box {
  margin: 0 10px;
}

.pdf-text {
  font-size: $sm-font-size;
}

.portfolio-case {
  max-width: 300px;
}

.portfolio-case:hover {
  background-color: $medium-color;
}

.portfolio-case:hover > h3 a {
  color: $medium-color-contrast;
}

.full-entry {
  font-family: $font-family-medium;
  font-size: $font-size;
}

////
//// Portfolio cases specific
////

.online {
  color: green;
}

.offline {
  color: red;
}

////
//// Responsiveness breakpoint: 600px
////
@media(max-width:600px){
    .half{
        width:100%
    }

    .site-header{
        min-height: 50px;

        line-height: initial;
    }

    .vertical-center-elements {
        display: block;
    }
}

////
//// Fix width problems for displaying portfolio items
////

@media(max-width:723px){
    .github-case{
      max-width: none;
    }

    .portfolio-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
}
