---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
// @import
//         "base",
//         "layout",
//         "syntax-highlighting"
// ;

body {
    min-width: 400px;
    max-width: 750px;
    border: 2px solid black;
	margin: 10px auto;
	background-image: url("../assets/circuit-board-bg.jpg");
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.page-wrapper {
    width: 100%;
    background-color: white;
}

.wrapper {
    padding: 0px 50px;
}

//Header & navigation
.site-header {
    background-color: black;
    font-size: 18px;
    font-family: "Raleway Medium", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    line-height: 50px;
}

.site-header * .page-link{
    margin: 0px 10px;
}

.site-header * a {
    text-decoration: none;
    color: white;
}

.site-nav {
    float:right;
}

//Footer
.back-to-top {
    float: right;
    text-align: right;
}

.copyright-text {
    font-size:12px;
}

.split-row {
    display: flex;
    margin-top: 25px;
}

.vertical-center-elements {
    align-items: center;
}

.half {
    width: 50%;
}

.leftie{
    float: left;
}

.center-text {
    text-align: center;
}

.rightie{
    float: right;
}

.clear-float{
    clear:both;
}

.contact-container {
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}

.contact-container a {
    vertical-align: middle;
    display: inline-block;
    *display: inline;
    zoom: 1
}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

//Responsiveness breakpoint: 600px
@media(max-width:600px){
    .half{
        width:100%
    }
 
    .site-header{
        min-height: 50px;
        line-height: initial;
    }

    .vertical-center-elements {
        align-items: center;
    }

    .split-row{
        display: block;
    }
}

.project {
  min-height: 100px;
  width:100%;
  padding: 5px 0px;
}

.left {
  background-color: #005892;
  color: white;
}

.right{
  background-color: whithe;
  color: #005892;
  text-align: right;
}

.left .project-language {
  float: left;
}

.right .project-language {
  float: right;
}

.project-language {
  width: 100px;
  height: 100px;
  line-height:100px;
  text-align: center;
}

.project-name a {
  text-decoration:none;
  color:inherit;
}