---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size: 18px;
$base-small-font-size: 12px;

//Colours
$dark-color: black;
$dark-color-contrast: white;

$medium-color: #005892;
$medium-color-contrast: white;

$light-color: white;
$light-color-contrast: black;

// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}
////
////  GENERAL
////

body {
    min-width: 320px;
    max-width: 750px;
    margin: 10px auto;

    border: 2px solid $dark-color;
    background-image: url("/assets/circuit-board-bg.jpg");

    font-family: $base-font-family;
    font-size: $base-font-size;
}

a {
    text-decoration: none;
}

img {
  max-width: 100%;
}

.page-wrapper {
    width: 100%;
    background-color: $light-color;
    color: $light-color-contrast;
}

.page-content {
    margin: 25px 0;
}

.wrapper {
    padding: 0 50px;
}

////
//// HEADER & NAVIGATION
////

.site-header {
    background-color: $dark-color;
    color: $dark-color-contrast;

    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: 50px;
}

.site-header * .header-link{
    // margin between links in header
    margin: 0 10px;
}

.site-header * {
    color: white;
}

////
//// FOOTER
////

.copyright-text {
    font-size: $base-small-font-size;
}

////
//// TOOLS
////

// center children vertically
.vertical-center-elements {
    display: flex;
    align-items: center;
}

// use half the container space
.half {
    width: 50%;
}

// float right
.float-right {
  float: right;
}

// float left
.float-left {
  float: left;
}

// clear floating
.clear-float{
    clear:both;
}

// center text
.center-text {
    text-align: center;
}

// align text to the right
.right-text {
    text-align: right;
}

// adding class justify-container to a container, and adding
// a span with class stretch to last child of cotainer
// will justify container's contents

.justify-container {
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}

.justify-container * {
    display: inline-block;
    zoom: 1;

    vertical-align: middle;
}

.stretch {
    display: inline-block;

    width: 100%;

    font-size: 0;
    line-height: 0
}

////
//// GitHub specific
////

.project {
  width:100%;
  min-height: 100px;
  padding: 5px 0;
}

.left {
  background-color: $medium-color;
  color: $medium-color-contrast;
}

.right{
  background-color: $medium-color-contrast;
  color: $medium-color;
}

.left .project-language {
  float: left;
}

.right .project-language {
  float: right;
}

.project-language {
  width: 100px;
  height: 100px;

  line-height:100px;
}

.project-name a {
  color:inherit;
}

////
//// CV specific
////

.pdf-box {
  margin: 0 10px;
}

.portfolio-case {
  max-width: 300px;
}

.portfolio-case:hover {
  background-color: $medium-color;
}

.portfolio-case:hover > h3 a {
  color: $medium-color-contrast;
}

////
//// Portfolio cases specific
////

.online {
  color: green;
}

.offline {
  color: red;
}

////
//// Responsiveness breakpoint: 600px
////
@media(max-width:600px){
    .half{
        width:100%
    }

    .site-header{
        min-height: 50px;

        line-height: initial;
    }

    .vertical-center-elements {
        display: block;
    }
}
