<footer>
    <div class="pure-g row">
        <div class="pure-u-1 pure-u-md-1-3 inverted-header-box no-border">
            <div class="pure-g center-vertically">
                <div class="pure-u-1-3">
                    <a href={{ site.github_link }}><img src={{ "/assets/github.svg" | prepend: site.url }} alt="Link to GitHub" /></a>
                </div><div class="pure-u-1-3">
                    <a href={{ site.linkedin_link }}><img src={{ "/assets/linkedin.svg" | prepend: site.url }} alt="Link to LinkedIn" /></a>
                </div><div class="pure-u-1-3">
                    <a href={{ site.twitter_link }}><img src={{ "/assets/twitter.svg" | prepend: site.url }} alt="Link to Twitter" /></a>
                </div>
            </div>
    </div><div class="pure-u-1 pure-u-md-2-3 inverted-content-box center-vertically">
            <p class="margin-left-auto">&copy; Emilio Martin Lundgaard Lopez</p>
        </div>
    </div>
</footer>
