<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{{ site.description }}">
  <meta name="author" content="Emilio Martin Lundgaard Lopez">

  <link rel="stylesheet" href="{{ "/css/libs/pure-min.css" | prepend: site.url }}" />
  <link rel="stylesheet" href="{{ "/css/all.css" | prepend: site.url }}" />

  <script src={{ "/js/lib/jquery.min.js" | prepend: site.url }}></script>
  <script src={{ "/js/lib/jquery-ui.min.js" | prepend: site.url }}></script>
  <script src={{ "/js/main.js" | prepend: site.url }}></script>

  <link rel="author" href="{{ "/humans.txt" | prepend: site.baseurl }}" />
  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>
