@import "variables";
@charset "utf-8";

// To ensure proper font while using PureCSS grid
html, button, input, select, textarea, .pure-g [class *= "pure-u"] {
    font-family: $base-font;
}

body {
    height: 100%;
    background: white;
    margin: 0;
    margin-bottom: $medium-gap;
}

// Make images responsive
img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

.row { 
    margin: $medium-gap;
    margin-bottom: 0;
    display: block;

    .header-box, .content-box, .inverted-header-box, .inverted-content-box {
        box-sizing: border-box;
        padding: $medium-gap;
    }

    .header-box, .inverted-content-box {
        background-color: $dark-blue;
        color: white;
        text-align: right;
    }

    .content-box, .inverted-header-box {
        border: 1px solid $dark-blue;
        background-color: white;
    }
}

.no-border {
    border: 0 !important;
}

.margin-left-auto {
    margin-left: auto;
}

.center-horizontally {
    text-align: center !important;
}

.center-vertically {
    display: flex;
    align-items: center;
}

footer {
    font-size: $small-font-size;

    .inverted-content-box {
        a {
            color:white;
            text-decoration: underline;
        }

        p {
            font-size: $small-font-size;
        }
    }
}

// Responsive settings. Contains the styling for screens wider than 48em (768px).
// Corresponds to pure-u-md classes
@media screen and (min-width: 48em)	{
    body {
        margin-bottom: $large-gap;
    }

    .row {
        margin: $large-gap;
        display: flex;
        
        .header-box, .inverted-content-box {
            padding: $large-gap;
        }

        .content-box, .inverted-header-box {
            border-left: 0;
            padding: $large-gap;
        }
    }
}
