// Colors
$light-blue: #94cde3;
$dark-blue: #289bc6;
// Fonts
$base-font: 'Raleway', serif;

h1 {
    font-size: 30px;
    font-weight: initial;
}

p {
    font-size: 18px;
}

$big-font-size: 30px;
$medium-font-size: 18px;
$small-font-size: 14px;

// Spacing
$max-box-width: 1200px;

//    Gaps
$large-gap: 50px;
$medium-gap: 20px;
$small-gap: 15px;
