---
layout: default
---

<h2>GitHub</h2>
<p>
	The following is a list of my projects being hosted in GitHub. I keep copyrights of all my files and projects unless stated otherwise. I encourage you to take a look around and <a href="mailto:emilio@lundgaardlopez.com">contact me</a> if you have any questions.
</p>

<div class="justify-container">
	{% for repository in site.github.public_repositories %}
		<div class="github-case">
			<a href="{{ repository.html_url }}" class="github-link">
				<div class="github-project-name">
					{{ repository.name }}{% if repository.language and repository.language != "" %} ({{ repository.language }}){% endif %}
				</div>
				<div class="github-project-description">
					{{ repository.description }}
				</div>
			</a>
		</div>
	{% endfor %}
	<span class="stretch"></span>
</div>
